[data-md-color-scheme="purple"] {
    --md-default-fg-color:               #afbbff;
    --md-default-fg-color--light:        #cfccff;
    --md-default-fg-color--lighter:      #dfddff;
    --md-default-fg-color--lightest:     #fff;
    --md-default-bg-color:               #53008f;
    --md-default-bg-color--light:        #7121aa;
    --md-default-bg-color--lighter:      #9a40db;
    --md-default-bg-color--lightest:     #e8c8ff;
}
