a {
  background: linear-gradient(
    60deg,
    #ffffff,
    #aaaaaa
  );
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}


a:hover {
  background: linear-gradient(
    60deg,
    #ff00ff,
    #ff0000,
    #ff8800,
    #ffff00,
    #00ff00
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
a:visited {
  background: linear-gradient(
    to right,
    #00ffff,
    #0088ff,
    #0000ff,
    #5f00ff,
    #af00ff,
    #ff00ff
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
a:active {
  background: linear-gradient(to right, #00ffff, #00ff00);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
article{
  display: block;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  max-width: 500;
  margin: 50px auto;
  padding: 0 1em;
}
body {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #000000;
  color: #eeeeee;
  padding: 50px;
}
blockquote {
  display: inline-block;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
code {
  display: flex;
  font-family: "Fira Code", monospace;
  font-size: 16 px;
  background: #000000;
  white-space: pre-wrap;
  padding: 10px;
}

html {
  background-color: #000000;
  color: #ffffff;
  font-family: Urbanist, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  margin-left: 1em;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;
}

h3 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: normal;
  font-size: 1.25em;
}
img.badge {
  margin: 5px;
}

pre {
  font-family: "Fira Code", monospace;
  font-size: 0.8em;
  color: #ffffff;
}
.magenta-violet {
  background: linear-gradient(to right, #ff00ff, #af00ff);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.violet-purple {
  background: linear-gradient(to right, #af00ff, #5f00ff);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.purple-blue {
  background: linear-gradient(to right, #5f00ff, #0000ff);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.blue-lightblue {
  background: linear-gradient(to right, #0000ff, #0088ff);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.lightblue-cyan {
  background: linear-gradient(to right, #0088ff, #00ffff);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.cyan-lime {
  background: linear-gradient(to right, #00ffff, #00ff00);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.lime-yellow {
  background: linear-gradient(to right, #00ff00, #ffff00);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.yellow-orange {
  background: linear-gradient(to right, #ffff00, #ff8800);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.orange-red {
  background: linear-gradient(to right, #ff8800, #ff0000);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.red-magenta {
  background: linear-gradient(to right, #ff0000, #ff00ff);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.article {
  display: block;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  max-width: 700px;
  margin: 50px auto;
  padding: 0 1em;
  background-color: #222222;
}
.badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 50px auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.class {
  color: #7fd6e8;
  font-family: "Fira Code", monospace;
}
.cool {
  background: linear-gradient(
    30deg,
    #00ffff,
    #0088ff,
    #0000ff,
    #5f00ff,
    #af00ff,
    #ff00ff
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.code-1 {
  font-family: "Fira Code", monospace;
  background: linear-gradient(to right, #0088ff, #00ffff);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  background: #000;
}
.code-2 {
  font-family: "Fira Code", monospace;
  background: linear-gradient(to right, #ff00ff, #af00ff, #5f00ff);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.code-3 {
  font-family: "Fira Code", monospace;
  background: linear-gradient(to right, #ff0000, #ff8800, #ffff00);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.cyan {
  color: #00ffff;
}
.def {
  color: #bc92f7;
}
.eq {
  color: #fb508e;
}
.func {
  color: #ff00ff;
}
.green {
  color: 
  #00cc00;
}
.italic {
  font-style: italic;
}
.none {
  color: #8b48ff;
}
.num {
  color: #00ffff;
  font-weight: 700;
}
.pdm {
  background: linear-gradient(to right, #ff00ff, #af00ff, #5f00ff);
  display: inline;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  font-size: 1em;
}
.pypi {
  background: linear-gradient(to right, #3875aa 60%, #ffd243);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: underline;
}
.pkg {
  color: #ff79c6;
}

.rainbow-1 {
  background: linear-gradient(
    to right,
    #ff00ff,
    #af00ff,
    #5f00ff,
    #0000ff,
    #0088ff,
    #00ffff,
    #00ff00,
    #ffff00,
    #ff8800,
    #ff0000,
    #ff00ff
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.rainbow-2 {
  background: linear-gradient(
    60deg,
    #ff00ff,
    #af00ff,
    #5f00ff,
    #0000ff,
    #0088ff,
    #00ffff,
    #00ff00,
    #ffff00,
    #ff8800,
    #ff0000,
    #ff00ff
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

.recommended {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 200;
  font-style: italic;
  font-size: 0.6em;
}


.str {
  color: #ffd243;
}
.summary {
  display: block;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  max-width: 700px;
  margin: 50px auto;
  padding: 0 1em;
  background-color: #222222;
  text-align: center;
}
.warm {
  background: linear-gradient(
    30deg,
    #ff00ff,
    #ff0000,
    #ff8800,
    #ffff00,
    #00ff00
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.white {
  color: #ffffff;
}