@import url("https://fonts.googleapis.com/css2?family=Prompt");
:root {
  --color-1: #f00;
  --color-2: #f80;
  --color-3: #ff0;
  --color-4: #0f0;
  --color-5: #0ff;
  --color-6: #ee07ff;
  --tint-0: #a0a;
  --tint-1: #a00;
  --tint-2: #a20;
  --tint-3: #990;
  --tint-4: #090;
  --tint-5: #02a;
}
h1.banner {
  font-family: "Prompt", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}
.container {
  font-family: "Prompt", sans-serif;
  background-size: 200% auto;
  animation: gradient 15s ease infinite;

  width: 700%;
  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  background: linear-gradient(
    35deg,
    var(--color-6) 10%,
    var(--color-1) 20%,
    var(--color-2) 25%,
    var(--color-3) 30%,
    var(--color-4) 40%,
    var(--color-5) 45%,
    var(--color-5) 55%,
    var(--color-4) 60%,
    var(--color-3) 70%,
    var(--color-2) 75%,
    var(--color-1) 80%,
    var(--color-6) 90%
  );

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .container {
    --color0: #f0f;
    --color1: #a0f;
    --color2: #50f;
    --color3: #00f;
    --color4: #08f;
    --color5: #0ff;
  }
}

@media (prefers-reduced-motion) {
  .container {
    animation: none;
  }
  .hi {
    animation: none;
  }
}
