h1#console {
    background: linear-gradient(-20deg, #9281F7 0%, #A6FCA1 100%);
    font-family: Urbanist;
    font-style: normal;
    font-size: 50px;
    color: #000;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: underline;
    vertical-align: baseline;
}

.class-type {
    color: #86E1F5;
    font-family: "Fira Code";
    font-style: italic;
    text-decoration: underline;
    font-size: 22px;
}

.args {
    color: #F5D786;
    font-family: "Fira Code";
    font-size: 22px;
}